<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>welcome</title>
</head>
<body>
<table border="1" cellspacing="0" cellpadding="0" width="500" align="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Nickname</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
        <tr  th:each="user : ${users}">
            <td th:text="${user.id}">""</td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.nickname}"></td>
            <td th:text="${user.password}"></td>
        </tr>
    </tbody>
</table>



</body>
</html>